##########################################################################################
# Directories and files to exclude from inclusion in the Dynamic_NN Bit Bucket Repo
# ---------------------------------------------------------------------------------------
# This is a Juniper Project customized list of files not to be added to the git repo.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore
##########################################################################################

# Local Development directories
data/*
bin/*
cuda/*
temp/*
logs/*
images/*
# dynet-base/*/
# dynet-base/*.tgz
# dynet-base/*.zip
# dynet-base/*.tar.gz
# boost*/*
# src/pytorch_static/data/*
# torchexplorer_standalone/*
# **/reports
# **/reports/*
**/logs
**/backup
**/backups
**/resources/*
__pycache__
**/__pycache__
**/__pycache__/*

# CascadeCorrelationNetwork class snapshots
**/cascor/cascor_snapshots/*
cascor_snapshot_*.h5

# Sensitive files and dirs
*/REAMDE.notes/*
*/encryption.bash
*/external_drive.readme

# Node artifact files
node_modules/
dist/

# Jupyter dirs
.ipynb_checkpoints/

# Data dirs
# data/
# data/*
data/MNIST/
data/MNIST/raw/

# Maven
target/
dist/

# Data files
*ubyte

# Compiled Java class files
*.class

# Python cProfile profiling files
*.prof

# Compiled Python bytecode
*.py[cod]

# Log files
*.log
*.out

# Package files
*.jar

# VSCode IDE
.vscode/
.trunk/
.trunk_new/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml
TEST*.html
TEST*.json

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Temp files
*.swq
*.swp
*.swo
*.swn
*.swm
*.swx
*.swy
*.swz

*.tmp
*.temp
.~lock.*

# Applications
*.app
*.exe
*.war

# Image Files
# *.png
*.jpg
*.jpeg
*.gif
*.pt

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Archive files
*.gz
*.tgz
*.tar
*.bz
*.zip

# Package Files
*.deb
*.rpm
*.whl
*.tar.gz
