/* @import url("happy_dance.css"); */

* { margin: 0; padding: 0; }

abbr,acronym,blockquote,code,dir,kbd,listing,plaintext,q,samp,tt,var,xmp { hyphens: none; }

html {
    /* padding: 2em; */
	font: normal 18px/1.25 "Source Sans Pro", sans-serif;
	color: #fff;
	hyphens: auto;
	word-wrap: break-word;
	background: #000;
}

body > :first-child {
	margin-top: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
	margin-right: 0rem;
	color: #fff;
	background: #000;
    vertical-align: top;
}

link[rel="stylesheet"] {
    text-decoration: none;
    color: #000;
    background-color: #000;
    vertical-align: top;
    display: none;
    float: right;
    height: 0rem;
    font-size: 0;
    margin: 0rem;
    margin-top: 0rem;
    margin-bottom: -10rem;
    padding: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

h1 {
    display: block;
    font-size: 2.75rem;
    /* height: 220px; */
	line-height: 0;
	margin: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    /* margin-bottom: -50px; */
    padding: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    /* margin-right: 3.5rem;
	margin-top: 1.5rem;
    margin-bottom: 2.5rem; */
	text-rendering: optimizeLegibility;
}

/* span[name="float_content"] {
    margin: 0rem;
    margin-top: -10rem;
    margin-bottom: 0rem;
    padding: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    height: 0rem;
    vertical-align: top;
}

div[name="float_content"] {
    margin: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    height: 0rem;
    vertical-align: top;
} */

div[name="nofloat"] {
    clear: both;
    float: none;
}

img[alt^="Juniper"] {
    display: block;
    width: 10rem;
    margin: 0rem;
    margin-top: 0rem;
    margin-bottom: -2rem;
    padding: 0rem;
    padding-top: 0rem;
    padding-bottom: -2rem;
}

img[alt$=">"] {
    /* display: block;
    width: 10rem;
    margin: 0;
    padding: 0; */
    float: right;
}

img[alt$="<"] {
    /* display: block;
    width: 10rem;
    margin: 0;
    padding: 0; */
    float: left;
}

img[alt$="><"] {
    display: block;
    /* max-width: 100%; */
    /* height: auto; */
    /* width: 10rem; */
    /* margin: auto; */
    /* margin: 0;
    padding: 0; */
    float: none!important;
}

img[src*='#left'] {
    float: left;
}

img[src*='#right'] {
    float: right;
}

img[src*='#center'] {
    display: block;
    margin: auto;
}
